html,
body {
    
    height: 100%;
    width: 100%;
    font-family: 'Fredoka One' !important;
    font-size: 16px;
    background-color: white;
}


header {
    background-color: #00acc1;
    height: 20%;
}


h1 {
    color: white;
    font-size: 50px !important;
    margin-top: 0 !important;
    padding: 2%;
    
}

#home {
    display: block;
    text-align: center;    
}

#home a {
    color: #00acc1;
    
}

.bouton {
    background-color: white;
    border: none;
}