<div>
    <input type="text" ng-keypress="checkKey($event)" ng-model="query" placeholder="Entrez-votre label ici...">
    <button ng-click="activeButton()">Search!</button>
    <div>
        <img ng-src="{{resultLab[0].thumb}}" />

        <a ui-sref="artist ({ id: resultLab[0].id })" ui-sref-active="active">
            {{resultLab[0].title}}
             <!--{{ $location.url() }}-->
        </a>



    </div>
</div>



<div ng-repeat="artist in artistList">
    <div>Hello {{artist.name}}</div>
    <img ng-src="{{artist.images[0].uri}}" />
    <div ng-repeat="artistRelease in artistReleases">
        <div>Hi {{artistRelease.releases[0].title}}</div>
        <img ng-src="{{artistRelease.releases[0].thumb}}" />

    </div>
</div>