<div>
    <input type="text" ng-keypress="checkKey($event)" ng-model="query" placeholder="Entrez-votre label ici...">
    <button ng-click="activeButton()">Search!</button>
    <div>
        <img ng-src="{{resultLab[0].thumb}}" />
        <div ng-if="resultLab[0].type === 'label'">
            <a ui-sref="label ({ id: resultLab[0].id })" ui-sref-active="active">
           
            {{resultLab[0].title}}
             <!--{{ $location.url() }}-->
        </a>
        </div>

        <div ng-if="resultLab[0].type === 'artist'">
            <a ui-sref="artist ({ id: resultLab[0].id })" ui-sref-active="active">
           
            {{resultLab[0].title}}
             <!--{{ $location.url() }}-->
        </a>
        </div>


    </div>
</div>



<div ng-repeat="artist in artistList">
    <div>
        <a ui-sref="artist ({ id: artist.id })" ui-sref-active="active">{{artist.name}}</a></div>

    <a ui-sref="artist ({ id: artist.id })" ui-sref-active="active"><img ng-src="{{artist.images[0].uri}}" /></a>
</div>
<div ng-repeat="artistRelease in artistReleases">
    <div>{{artistRelease.title}}</div>
    <img ng-src="{{artistRelease.thumb}}" />

</div>
</div>